<template>
    <form>
        <p class="form-para">Welcome! Please confirm your address to ensure privacy, address verification  is required.
        </p>
        <div class="row">
          <div class="col-sm-12">
            <div class=" form-group">
              <input type="text" name="" class="form-control custom-control" placeholder="Street Address">
            </div>
          </div>
          <div class="col-sm-12">
            <div class=" form-group">
              <input type="text" name="" class="form-control custom-control" placeholder="Apartment">
            </div>
          </div>
          <div class="col-sm-12">
            <div class=" form-group">
              <input type="text" name="" class="form-control custom-control" placeholder="Email*">
            </div>
          </div>
          
        </div>
        <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-blue w-100 btn-common">Confirm Your Address</button>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-blue btn-grey w-100 btn-common">Cancel</button>
            </div>
        </div>
      </form>
</template>

<script>
    export default {
        mounted() {
            $("#confirm_address").validate();
        }
    }
</script>
