

@media (max-width:1366px) {
  .topBanner .carousel-item {
      height: 580px;
  }
}

@media (max-width:1200px) {
.container-common{max-width:991px;}
}

@media (max-width:1199px) {
.real-state-inner  .carousel-item{height:400px;max-width:400px;}
}

@media (max-width: 1024px) {
  .content-wrapper{padding-top:100px;}
  /* .logo{max-width:100px; margin-left:15px; margin-top:10px;} */
  .menu ul li a{font-size:13px; padding:27px 10px;}
  .header_bg .menu ul li a{padding:25px 10px;}
  .btn-mobmenu{display: block;margin:0;height:auto;min-height:auto;line-height:normal;}
  .btn-mobmenu:hover{color:#ddd;}
  .menu{position:fixed; width:240px; height:100vh; background:#0a151c; top:0px; left:0px; padding-top:55px; padding-right:0px; overflow:hidden; overflow-y:auto; transition:400ms; transform:translateX(-100%); -webkit-transform:translateX(-100%); -ms-transform:translateX(100%);padding-left:0;z-index: 0;}
  .menu.mobmenushow{transform:translate(0%); -webkit-transform:translateX(0%); -ms-transform:translateX(0%);z-index:99;}
  .topSearchBox{width:100%;}
  .menu ul li{display:block; width:100%; position:relative;}
  .menu ul li a{display:block; width:100%; color:#fff; border-bottom:1px solid #ddd; padding:10px 15px;}
  .menu ul li:hover a ~ ul.drpdown{display:none;}
  .plus-minus{display:block; position:absolute; top:5px; right:0; color:#fff; width:40px; height:40px; text-align:center; line-height:40px; cursor:pointer;}
  .topBanner .carousel-item {height: 470px; }
  
/* ======= 1 August=========*/
header{padding:0;}
.header-inner .row .col {min-height: 60px;}
.btn-mobmenu {top:12px;}
.rightContentBox {display:none;}
.middleFeedBox{width:100%;padding: 0;}
.leftMenuBox{background:#fff;border:1px solid #dee2e6;min-height:calc(100vh - 59px);max-height:calc(100vh - 60px);top:54px;z-index:999;
overflow-y:auto;position:fixed;top:60px;left:-100%;transition:0.5s;}
.leftMenuBox.mobmenushow{display:block;left:0;transition:0.5s;}
.outerBlockBox{display:block;padding:0;}
.logged .top-left-menu{display:none!important;}
.inner-page-header .menu ul li a{color:#fff!important;}
/* body.notLogged .inner-page-header{background: #e2e2e5;} */
body.notLogged .inner-page-header .btn-mobmenu i{color:#3a3c46;}
body.notLogged .inner-page-header .btn-mobmenu i.fa.fa-times{color:#fff;}
header.header-bg .menu ul li a, header.header-inner .menu ul li a {color:#fff;}
.logo{z-index: 999!important;}
}
/* ======1024px Media Query End============ */

@media(min-width:1025px){
.leftMenuBox .topSearchBox{display:none!important;}
.middleFeedBox.notRightBox{width:100%;padding:0;}
.leftMenuBox,.rightContentBox {opacity:0;visibility:hidden;}
.leftMenuBox.animate,.rightContentBox.animate{opacity:1;visibility:visible;}
	
}


@media (max-width: 991px) {
.container-common{max-width:767px;}
.booking-pannel .booked-person h3{font-size: 16px;}
.real-state-inner  .carousel-item{height:350px;max-width:350px;}
}

@media(min-width:768px) and (max-width:1365px){
.blue-box{left:0;}
}


@media(min-width:768px){
.chat {overflow-y:auto;max-height:calc(100vh - 160px);min-height: calc(100vh - 160px);}
.chatNavList{overflow-y:auto;max-height:calc(100vh - 363px);}
.tagFriendList{overflow-y:auto;max-height:calc(100vh - 371px);}
.main-container{min-height: calc(100vh - 146px);}
.top-right-menu .btn + .btn{margin-left:7px;}	
}


@media (max-width:767px) {
   /* .header-inner .logo{top: 50%; left: 40px; transform: translateY(-50%);}	 */
  .content-wrapper {padding-top:70px; padding-bottom:20px;}
  /* .logo{max-width:90px; margin-left:5px; margin-top:12px;} */
  /* .btn-mobmenu{display:block; top:24px;} */
  .btn-mobmenu:hover{color:#ddd;}
  .menu{position:fixed; width:240px; height:100vh; background:#0a151c; top:0px; right:0px; padding-top:55px; padding-right:0px; overflow:hidden; overflow-y:auto; transition:400ms; transform:translateX(-100%); -webkit-transform:translateX(-100%); -ms-transform:translateX(100%);}
  .menu.mobmenushow{transform:translate(0%); -webkit-transform:translateX(0%); -ms-transform:translateX(0%);}
  .menu ul li{display:block; width:100%; position:relative;}
  .menu ul li a{display:block; width:100%; color:#fff; border-bottom:1px solid #10212b; padding:10px 15px;}
  .menu ul li:hover a ~ ul.drpdown{display:none;}
  .plus-minus{display:block; position:absolute; top:5px; right:0; color:#fff; width:40px; height:40px; text-align:center; line-height:40px; cursor:pointer;}
  
  .tag-friend{padding:10px}
  .form-body.contactus-body ,.blue-box{padding:15px;}
.blue-box{position:static;left: 0; }
.blue-box ul {padding: 20px 0}
    
    
    
    .class-page-inner{padding: 20px;}
    .row-content-box{padding: 20px 15px;}
    .notification-list-block li .img-box{max-width: 60px;}
    .notification-list-block .notification-list-inner{padding-left: 70px;}
    .cell-table-box{height: 60px;}
    .notification-list-block li{padding: 10px 0;}
    .community-block .text-box h5{font-size: 16px;}
    .community-block .text-box .text-blue{font-size: 14px;}
    .community-block .eye-icon a{font-size: 13px;}
    .community-block .eye-icon i{font-size: 18px;}
    .contactus-body .blue-box{border-radius: 8px;}
    .radio-button label{font-size: 15px;}
    .interier-inner-box{padding: 15px;}
    .heading-box-int .fright{float: none; clear: both;}
    .int-button-box{width: 100%;}
    .int-button-box .btn{min-width: auto; width: 100%; font-size: 18px; margin: 0 5px; max-width: calc(50% - 13px);}
    .star-box{white-space: nowrap; display: block;}
    .or-text span{position: static;}
    .or-text{text-align: center; margin:10px 0;}
    .pick-surb{padding: 0 20px;}
    .globle_inside{padding: 2em 0;}
    .img-box-client{width: 50px; height: 50px;}
    .client-write-inner{padding: 0px 40px 0 60px;}
    .client-write-inner .custum-camera{font-size: 29px;}
    .badge-custom{font-size: 15px;}
    .client-follow .img-box-client2{width: 60px; height: 60px; left: 15px;}
    .client-follow .client-name{font-size: 18px;}
    .client-follow .date-text{font-size: 14px;}
    .client-follow{padding: 12px 20px 10px 90px;}
    .text-block-right .fright{float: none; padding-top: 8px; clear: both;}
    .white_box_with_border .p-4{padding: 15px !important;}
    .likes-block .inlines-block span{font-size: 13px;}
    .likes-block .inlines-block i{font-size: 15px;}
    .likes-block .inlines-block:first-child{padding-right: 15px;}
    .pick-surb{padding: 0 15px;}
     .common-content-body{margin: 2em 0;}

  /*****Amit************/

.form-body {padding: 20px 20px;}
.w-100.btn-common{margin-bottom: 10px;}
p.new-user{margin-top: 10px;}
.modal-body.change-pass-body {
    padding: 2rem 2rem;
}
.common-modal .modal-header {
 border-bottom: 2px solid #ccc;
}

.address-detail-block p.radio-button:last-child {
    padding-left: 12px;
}
.address-detail-block ul li{font-size: 13px;}

.right-sidebar_s{box-shadow:0 0 10px #ddd;}
.join-form{padding:0px;}
.joinasset-sec .common-heading h4{font-size:18px;}
.joinasset-sec .common-heading h3{font-size:30px;}
.common-heading h3{font-size:30px;}
.download-sec .image-section{margin:0 0 10px}
.btn.btn-blue.claim-btn{width:auto;min-width:auto;}
.live-commoninner{padding: 0 0 10px;}
.real-text-block.second-block{padding-left:0px}
.real-text-block{margin:0 0 30px}
.real-state-inner  .images-block{margin:0 0 30px}
.live-prop-sec{padding:40px 0px;}
.assest-block h3{font-size:24px}
.availabl-image-block .image-block-inner{margin:0 0 15px;}
.availablenear-sec{padding:40px 0;}
.download-sec{padding:20px 0;text-align:center;}
.download-sec .image-section{margin:0 0 20px}
.neghbours-inner .col-md-4:last-child .neighbous-common-block{margin:0;}
.home-bannertext-box{padding:0 10px;}
.topBanner-content h1{font-size:22px;margin-bottom:10px;}
.home-bannertext-box h4{font-size:20px;margin-bottom:10px}
.real-state-inner  .carousel-item{height:350px;max-width:350px;margin:0 auto;}

/* ==============1 August============= */
/* .leftMenuBox{z-index:99;max-height:calc(100vh - 62px);overflow-y:auto;top:62px;left:-100%;visibility:hidden;} */
a.btn.editBtn{top:-25px;}
.profileImg{margin-top:25px!important;}
.propertyBox{margin-top:15px;}
.formBoxHorizontal label.control-label,.formBoxHorizontal .viewField{font-size:12px;}
.tabsWithFilter{padding-right:0;padding-top:40px;}
.propertyDetailInfo{position:static;display:block!important;text-align:center;color:#3a3c46;}
.propertyRequest{width:150px;margin:10px auto 0!important;}
.dataTables_paginate a, .dataTables_paginate span,.statementList li{font-size:11px;}
.top-right-menu .btn{font-size:11px;padding:6px 8px;}
.form-main-heading h3{font-size:16px;}
p.form-para,.social-button a{font-size:14px;}
.remember-forgot p, .remember-forgot a {font-size:13px;}
.mobML15{margin-left:15px;}
p.new-user{font-size:13px;}
}
/* ========Max Width 767px======== */
@media(max-width:640px) {


/* .logo{max-width: 100px; margin-top: 15px;} */
.search-box-top .input-group-prepend{max-width:100%;}
.search-box-top .btn-dropdown-s{height:45px;margin:0 0 10px;}
}

@media(max-width:576px) {
.booked-person.text-center{text-align:left!important;}
.user-image.text-right{text-align:left!important;}
.booking-pannel .booked-person h3{max-width:100%;margin:20px 0}
.topBanner-content h1{}
}

@media(max-width:480px) {
/* .btn-header{padding:5px 7px; font-size:12px;}
.top-right-menu .btn.btn-blue{position: absolute; bottom: 8px; right: 0; width: 100%;} */

/* .menu{z-index: 1;} */
.bank-body-block .btn.btn-transparent{margin: 3px 0; width: 100%;}

.common-para{font-size: 15px;}
.thumblist li{width: 80px;}
/* ==========1 August 2018===== */
.nav-tabs.globalNavTabs .nav-item .nav-link{padding:6px;font-size:12px;}
.searchBox{flex-wrap:wrap;text-align:center;}
.searchBox .form-control {width:100%;}
.searchBtn {margin:10px auto 0!important;}
}

@media(max-width:360px){
.int-button-box .btn{max-width: 100%; margin: 3px 0;}

}
